BVOLT_CORE_BASE_URL=http://localhost:8000
DASHBOARD_REFRESH_SECONDS=5
GRAFANA_BASE_URL=http://localhost:3000
GRAFANA_DASHBOARD_UID=adxmk4pd
GRAFANA_DASHBOARD_SLUG=microgrid-integration-node
GRAFANA_DASHBOARD_TITLE=Microgrid Integration
