BVOLT_CORE_BASE_URL=http://localhost:8000
BVOLT_CORE_SOURCE_LABEL=Internal bvolt-core service
BVOLT_ALLOWED_ORIGINS=*
DASHBOARD_REFRESH_SECONDS=5
BVOLT_APP_HOST=0.0.0.0
BVOLT_APP_PORT=8010
GRAFANA_BASE_URL=http://localhost:3000
GRAFANA_DASHBOARD_UID=adxmk4pdbvolt
GRAFANA_DASHBOARD_SLUG=bvolt
GRAFANA_DASHBOARD_TITLE=bvolt
GRAFANA_ORG_ID=1
GRAFANA_KIOSK_MODE=true
