# InfluxDB bootstrap template example
DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=admin
DOCKER_INFLUXDB_INIT_PASSWORD=change-me
DOCKER_INFLUXDB_INIT_ORG=bvolt
DOCKER_INFLUXDB_INIT_BUCKET=bvolt_dev
DOCKER_INFLUXDB_INIT_RETENTION=0
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=change-me-token
